.t-container {
  margin: 120px auto 40px auto;
  width: 70%;
}

.t-container .content {
  background-color: rgb(219, 68, 68);
}

.t-container .container-information-mechine a {
  text-decoration: none;
  color: #a8a8a8;
}

.imgs-mechine {
  flex-direction: column;
  display: flex;
}

.imgs-mechine .imgs-product {
  width: 120px;
  height: 90px;
}

.infomation-mechine .img-mechine {
  width: 400px;
  height: 300px;
  margin-left: 2%;
}

.t-container img {
  width: 100%;
  height: 100%;
}

.imgsProduct-container {
  display: flex;
  /* width: 55%; */
}

.name-information-mechine h1 {
  font-size: 27px;
}

.infomation-mechine {
  display: flex;
  justify-content: space-between;
}

div.infomation-mechine-children {
  width: 50%;
}

.c-pointer {
  cursor: pointer;
}

.content-product p {
  margin-bottom: 0;
}

.mt-20 {
  margin-top: 20px;
}

.category-tags {
  font-size: 12px;
}

.mt-20 .btn-buy {
  width: 40%;
}

.mt-20 .btn-group {
  width: 40%;
  border: 1px solid #828282;
}

.mt-20 .d-flex .heart-outline {
  padding: 6px;
  text-align: center;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.mt-20 .d-flex .heart-filled {
  padding: 6px;
  text-align: center;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(219, 68, 68);
  border-radius: 4px;
}

.second-section .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
  color: #000000;
}

.second-section .ant-tabs-nav-list .ant-tabs-ink-bar {
  background: rgb(219, 68, 68);
}

.second-section .imgProductDetail {
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0 0 20px #f3f3f3;
  text-align: center;
  margin-bottom: 1.5em;
}

.detailsProduct .speci-model .nameProductDetail {
  opacity: 0.4;
  font-weight: 400;
}

.second-section {
  border-bottom: 1px solid #e0dadf;
}

@media screen and (max-width: 1580px) {
  div.infomation-mechine-children {
    width: 40%;
  }
}

@media screen and (max-width: 1470px) {
  .t-container {
    width: 90%;
  }

  div.infomation-mechine-children {
    width: 55%;
  }
}

@media screen and (max-width: 1360px) {
  div.infomation-mechine-children {
    width: 50%;
  }
}

@media screen and (max-width: 1210px) {
  div.infomation-mechine-children {
    width: 40%;
  }
}

@media screen and (max-width: 1122px) {
  .mt-20 .btn-buy {
    width: 60%;
  }
}

@media screen and (max-width: 1044px) {
  div.infomation-mechine-children {
    width: 37%;
  }
}

@media screen and (max-width: 1024px) {
  div.infomation-mechine-children {
    width: 40%;
  }

  .imgsProduct-container {
    width: 55%;
  }

  .imgs-mechine .imgs-product {
    width: 90px;
    height: 90px;
  }

  .infomation-mechine .img-mechine {
    height: 300px;
  }
  .name-information-mechine h1 {
    font-size: 22px;
  }
  .content-product p {
    font-size: 15px;
  }
}

@media screen and (min-width: 761px) and (max-width: 992px) {
  .t-container {
    margin: 190px auto 40px auto;
  }
}

@media screen and (max-width: 980px) {
  div.infomation-mechine-children {
    width: 35%;
  }
}

@media screen and (max-width: 950px) {
  div.infomation-mechine-children {
    width: 40%;
  }

  .imgsProduct-container {
    width: 55%;
  }

  .imgs-mechine .imgs-product {
    width: 90px;
    height: 90px;
  }

  .infomation-mechine .img-mechine {
    height: 300px;
  }
}

@media screen and (max-width: 752px) {
  div.infomation-mechine-children {
    width: 100%;
  }

  .infomation-mechine {
    flex-wrap: wrap;
  }

  .imgsProduct-container {
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }

  .infomation-mechine .img-mechine {
    margin-left: 0;
  }
}

.third-section .otherImgProducts {
  height: 321.02px;
}

@media screen and (max-width: 540px) {
  .infomation-mechine {
    flex-wrap: wrap;
  }
  div.infomation-mechine-children {
    margin-top: 20px;
    display: block;
  }

  .infomation-mechine-children .name-information-mechine {
    width: 100%;
  }

  .infomation-mechine-children .buyAndlike {
    width: 100%;
  }

  .infomation-mechine .img-mechine {
    max-width: 75%;
    height: 390px;
  }

  .first-section .breadcrumbs .breadcrumb {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .infomation-mechine .img-mechine {
    max-width: 100%;
    max-height: 100%;
  }

  .imgs-mechine .imgs-product {
    max-width: 170px;
    max-height: 110px;
  }

  .imgs-mechine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .imgsProduct-container {
    display: block;
  }
}

/* 404/NotFound */

.NotFound {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.otherImgProducts:hover .group-icon .icon {
  opacity: 1; /* Khi hover vào .group-icon, hiển thị icon */
  transform: translateY(0); /* Di chuyển icon từ dưới lên */
  font-weight: 700;
}

.toastify-container {
  margin-top: 500px;
}
