.banner {
  display: flex;
  margin-top: 80px;
}

.banner-left {
  width: 25%;
  border-right: 2px solid lightgray;
}

.ingredient {
  padding: 25px;
  display: flex;
  align-items: center;
}

.text-ingredient {
  width: 80%;
  margin-left: 30px;
  font-size: 18px;
}

.ingredient:hover {
  background-color: rgb(242, 242, 242);
}

.banner-right {
  width: 75%; /* Đặt chiều rộng của phần bên phải */
  position: relative; /* Thiết lập vị trí tương đối để có thể định vị ảnh tương đối với phần bên phải */
}

.carousel-inner {
  height: 550px;
  text-align: center;
}

.carousel-item img {
  height: 100%; /* Ảnh trong carousel chiếm toàn bộ chiều cao của carousel */
  width: 95%; /* Ảnh trong carousel chiếm toàn bộ chiều rộng của carousel */
  object-fit: cover; /* Đảm bảo ảnh không bị vỡ hoặc bị kéo dài ra ngoài */
  z-index: 1;
}

.banner-left li {
  padding: 5px;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-menu-inline > .ant-menu-item,
:where(.css-dev-only-do-not-override-1kuana8).ant-menu-vertical
  > .ant-menu-item,
:where(.css-dev-only-do-not-override-1kuana8).ant-menu-inline
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1kuana8).ant-menu-vertical
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 60px;
}

/* :where(.css-dev-only-do-not-override-1kuana8).ant-menu .ant-menu-title-content {
  height: 50px;
  line-height: 50px;
  padding: 20px;
} */

.ant-menu-title-content {
  font-size: 18px;
  padding: 10px;
}

.ant-menu-title-content a {
  color: black;
}

/* .submenu {
  display: none;
  position: absolute;
  top: 15%;
  left: 25%;
  width: 300px;
  background-color: #bdbdbd;
  border: 1px solid #ccc;
  z-index: 999999;
}

.submenu li {
  padding: 20px;
}
.submenu li:hover {
  background-color: rgb(242, 242, 242);
} */

/* .ingredient:hover .submenu {
  display: block;
  z-index: 999999;
} */
