.container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 60%;
}

.container nav {
    font-size: 14px;
    margin: 5px 0 30px;
    line-height: 18px;
}

.fisrtChildrenProduct h1 {
    margin-bottom: 5px;
}

.aboutproduct {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.containerImgsProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgsproduct {
    width: 170px;
    height: 138px;
}

 img {
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 500px;
    height: 600px;
}
.flex {
    width: 60%;
    float: left;
    display: flex;
}

.ant-tabs-nav {
    margin-bottom: 2.5em!important;
}

.informationProduct {
    width: 40%;
    float: right;
}

.fisrtChildrenProduct {
    margin-bottom: 30px;
}

.fortune{
    color: #888;
    text-decoration: none;
    font-style: italic;
}
@media screen and (max-width: 1400px){
    .informationProduct {
        width: 100%;
    }

    .flex {
        width: 100%;
        display: flex;  
    }
}

@media screen and (max-width:1396px) {
    .aboutproduct {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
    }
    .container {
        width: 90%;
    }

    .flex {
        width: 59%;
        display: flex;
    }

    .infomationProduct {
        margin-left: 25px;
    }

    .container nav, svg {
        font-size: 18px;
    }

    .fisrtChildrenProduct h1 {
        font-size: 20px;
    }

    .fisrtChildrenProduct p {
        font-size: 16px;
    }

    div .ant-tabs-tab-btn{
        font-size: 16px;
    }

    p {
        font-size: 16px!important;
    }

    h3 {
        font-size: 18px;
    }
}

@media screen and (max-width:1024px) {
    .aboutproduct {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
    }

    .flex {
        width: 100%;
    }
    .fisrtChildrenProduct h1 {
        font-size: 17px;
    }

    p {
        font-size: 14px;
    }

    .aboutproduct {
        display: flex;
        flex-wrap: wrap;
    }

    .infomationProduct {
        margin-left: 0 ;
        margin-top: 30px;
        display: flex;
    }

    .fisrtChildrenProduct {
        width: 50%;
    }

    .secondChildrenProduct {
        width: 50%;
    }

    .imgProduct {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 540px) {
    .flex {
        display: block;
    }

    .containerImgsProduct {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container nav {
        font-size: 15px;
    }
}

@media screen and (max-width:430px){
    .infomationProduct {
        display: block;
    }

    .fisrtChildrenProduct {
        width: 100%;
    }

    .secondChildrenProduct {
        width: 100%;
    }
}

@media screen and (max-width:375px){
    .imgsproduct{
    width: 45%;
    height: auto;
    }
}
.secondChildrenProduct span {
    display: block;
} 

a {
    color: #2496ff;
    text-decoration: none;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0 25px;
}

.imgProductDetail {
    margin: 0 auto;
    max-width: 500px;
    box-shadow: 0 0 20px #f3f3f3;
    text-align: center;
    margin-bottom: 1.5em;
}
.nameProductDetail {
    opacity: .4;
    font-weight: 400;
}

.detailsProduct {
    padding-bottom: 30px;
    border-bottom: 1px solid #E0DADF;
}

.ant-tooltip-inner {
    background-color: white !important;
}

.otherImgProducts {
    position: relative;
    cursor: pointer;
}




