.comp-guarantee {
  border-top: 2px solid lightgray;
  margin: 50px;
}

.element-guarantee {
  background-color: black;
  margin-top: 30px;
  position: relative;
  height: 65vh;
  width: 100%;
}

.content-guarantee h2 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 10;
  text-align: center;
}

.img-guarantee {
  position: absolute;
  bottom: -12%;
  z-index: 5;
  right: 0;
}

.img-guarantee img {
  width: 1000px;
  height: auto;
}

.contact-guarantee {
  position: absolute;
  top: 40vh;
  left: 100px;
}

/* .phone-guarantee {
  color: #db4444;
  font-size: 50px;
  text-transform: uppercase;
} */

.now-guarantee {
  width: 200px;
  height: 70px;
  background-color: #e33131;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 25px;
  text-transform: uppercase;
}

.button-guarantee {
  position: relative;
  z-index: 9999;
}

.now-guarantee:hover {
  background-color: #dc4f4f;
}

.element-guarantee .absolute {
  width: 100%;
}

.absolute {
  position: relative;
  top: 50px;
  inset: 0;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.bg-shape1 {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}

.bg-shape2 {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: two 10s infinite;
}

.bg-shape3 {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: three 10s infinite;
}

@keyframes one {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -100px;
    top: 70px;
  }
  50% {
    left: 20px;
    top: 150px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes two {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 50px;
    top: 10px;
  }
  50% {
    left: 100px;
    top: 200px;
  }
  75% {
    left: 50px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes three {
  0% {
    right: 0px;
    top: 0px;
  }
  25% {
    left: 10px;
    top: 10px;
  }
  50% {
    left: 50px;
    top: 100px;
  }
  75% {
    left: 100px;
    top: 50px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.opacity-50 {
  opacity: 0.9;
}

.bg-blur {
  filter: blur(90px);
}

.bg-primary1 {
  background-color: rgb(84, 144, 222);
}

.bg-teal {
  background-color: rgb(88, 167, 117);
}

.bg-purple {
  background-color: rgb(240, 155, 155);
}

@media screen and (max-width: 1477px){
  .img-guarantee img {
    width: 935px;
  }
}

@media screen and (max-width: 1223px){
  .img-guarantee img {
    width: 745px;
  }

  .element-guarantee {
    height: 55vh;
  }

  .contact-guarantee {
    top: 31vh;
  }
}

@media screen and (max-width: 1060px){
  .element-guarantee {
    height: 50vh;
 }



.img-guarantee img {
  width: 620px;
 }
}

@media screen and (max-width: 947px){
  .content-guarantee h2 {
    font-size: 40px;
    left: 23%;
  }

  .contact-guarantee {
    left: 40px;
    top: 30vh;
  }

  .bg-shape1, .bg-shape2 {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 881px){
  .contact-guarantee {
    top: 20vh;
 }
}

@media screen and (max-width: 800px){
  .content-guarantee h2 {
    font-size: 35px;
    left: 280px;
    top: 30px;
}

.contact-guarantee {
  top: 4vh;
  left: 10px;
}
}

@media screen and (max-width: 765px){
  .content-guarantee h2 {
    left: 245px;
    top: 113px;
}
}


@media screen and (max-width: 731px){
  .content-guarantee h2 {
    left: 10px;
        top: 113px;
}
}

@media screen and (max-width: 731px){
  .content-guarantee h2 {
    left: 100px;
}

.contact-guarantee {
  top: 4vh;
  left: 97px;
}
}

@media screen and (max-width: 653px){

.contact-guarantee {
  top: 15vh;
  left: 40px;
}

.img-guarantee img {
  width: 370px;
}

.now-guarantee {
  width: 140px;
  height: 40px;
  font-size: 20px;
}

.content-guarantee h2 {
  top: 25px;
  left: 90px;
  font-size: 25px;

}

.element-guarantee {
  height: 35vh;
}
}

@media screen and (max-width: 470px){
  .content-guarantee h2 {
    top: 25px;
    left: 10px;
    font-size: 20px
}

.contact-guarantee {
  top: 12vh;
  left: 120px;
}

.element-guarantee {
  height: 33vh;
}

.element-guarantee .absolute {
  width: 10%;
}
}

@media screen and (max-width: 320px){
  

.contact-guarantee {
  top: 12vh;
  left: 45px;
}

.img-guarantee img {
  width: 280px;
}
.img-guarantee {
  right: -12px;
}

.element-guarantee .absolute {
  width: 100%;
}
}
